<h1>Detalles de la Sesión</h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @training_session.activity %></h5>
    <p class="card-text">Fecha: <%= @training_session.date %></p>
    <p class="card-text">Duración: <%= @training_session.duration %> minutos</p>
    <p class="card-text">Descripción: <%= @training_session.description %></p>
    <%= link_to 'Editar', edit_training_session_path(@training_session), class: 'btn btn-secondary' %>
    <%= link_to 'Volver', training_sessions_path, class: 'btn btn-primary' %>
  </div>
</div>
